@import 'component/reset';

@import 'component/functions';

/**
 * Define variable
 */
$font-roboto: "Roboto";
$font-varela: "Varela Round";
$bg-image: '../images/gobear-jobs-overview.jpg';
$text_color: #fff;

.col-md-12[role="button"] {
  padding-left: 0px;
}

.item-job {  
  border: 1px solid #ccc;
  float: left;
  width: 100%;
  @include padding-custom(15px, 30px);
  margin-bottom: 20px;
  .title {
    font-family: $font-varela;
    font-weight: bold;
    margin-top: 0px; 
  }
  .company, 
  .location, 
  .created-at, 
  .assignment, 
  .job-type-section {
    text-align: center;
    margin-top: 30px;
    .job-type {
      text-transform: uppercase;
      border-radius:0px;
      @include padding-custom(5px, 15px);
      font-family: $font-roboto;
      line-height: 1.5; 
    } 
  }
}

.content-more-info {
  display: none;
  text-align: justify;
  margin-top: 10px;
  font-family: $font-roboto;
  font-size: 14px;
}

.section-created-at {
  padding-top: 10px;
}
.content-left-section {
  font-size: 13px;
}
.more-info {
  margin-top: 6px;
  text-decoration: none;
  a {
    text-align: center;
    padding-left: 15px;
  }
}
h1.page-header {
  @include set-bg($bg-image, 100%);
  @include padding-custom(50px, 70px);
  text-align: center;
  color: $text_color;
}
.main-container {
  @include set-container(100%);
}
#main-job-container {
  margin-top: 50px;
}

/**
 * Loop
 */
@for $i from 1 through 2 {
  .item-#{$i - 1}{
    @if ($i % 2 == 0) {
      background: #eaeaea;
    }@else {
      background: white;
    }
    &:hover {
      background: #eaeaea;
    }
  }
}
